# Token lifetimes, error codes, app verification

## OAuth2 endpoints overview

| Method | Url                                                                                                                |
| ------ | ------------------------------------------------------------------------------------------------------------------ |
| GET    | [https://app.ilert.com/api/developers/oauth2/authorize](https://app.ilert.com/api/developers/oauth2/authorize)     |
| POST   | [https://api.ilert.com/api/developers/oauth2/token](https://api.ilert.com/api/developers/oauth2/token)             |
| POST   | [https://api.ilert.com/api/developers/oauth2/token\_info](https://api.ilert.com/api/developers/oauth2/token\_info) |

